<%- include("partials/header")-%>

    <h1>Compose</h1>
    <p>
    <form action="/compose" method="post">
        <div class="mb-3">
            <label for="form-title" class="form-label">Title</label>
            <input type="text" class="form-control" id="form-title" placeholder="" name="post_title">
        </div>
        <div class="mb-3">
            <label for="form-content" class="form-label">Post</label>
            <textarea class="form-control" id="form-content" rows="3" name="post_body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
    </p>

    <%- include("partials/footer")-%>